:root {
  --app-bg: #f1f1f1;
  --card-footer-bg: rgb(241, 241, 241, 0.5); /* footer converted to rgb */
  --card-header-bg: #f1f1f1;
  --divider: #ebebeb;
  --shadow-rgb: rgb(51, 51, 51, 0.1); /* shadow converted to rgb  */

  --sweet-grey: #b4b4b4;
  --strong-grey: #737c84;

  --blue: #69a3ff;
  --orange: #ff9632;
  --red: #ed1946;

  --font-family: 'Helvetica', 'Arial', sans-serif;
}
